body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

html, html[data-theme=light] {
  background-color: #f7fcfc;
  color: #13131c;
  fill: #13131c;
  height: 100%;
}

button, html[data-theme=light] button {
  border: 1px solid #13131c;
  padding: 5px 10px;
  background: #13131c;
  border-radius: 2px;
  color: #f7fcfc;
}

input, html[data-theme=light] input {
  padding: 10px;
  background: #f7fcfc;
  color: #13131c;
  border: 1px solid #13131c;
}

button:active {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #13131c;
    color: #f7fcfc;
    fill: #f7fcfc;
    height: 100%;
  }
  button {
    border: 1px solid #f7fcfc;
    padding: 5px 10px;
    background: #f7fcfc;
    border-radius: 2px;
    color: #13131c;
  }
  input {
    padding: 10px;
    background: #13131c;
    color: #f7fcfc;
    border: 1px solid #f7fcfc;
  }
}

html[data-theme=dark] {
  background-color: #13131c;
  color: #f7fcfc;
  fill: #f7fcfc;
  height: 100%;
}

html[data-theme=dark] button {
  border: 1px solid #f7fcfc;
  padding: 5px 10px;
  background: #f7fcfc;
  border-radius: 2px;
  color: #13131c;
}

html[data-theme=dark] input {
  padding: 10px;
  background: #13131c;
  color: #f7fcfc;
  border: 1px solid #f7fcfc;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}